.board_wrapper {
  width: 100%;
  margin-left: 200px;
}

.board_wrapper.sidebar_collapsed {
  margin-left: 0;
}

.board {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board_container {
  width: 85%;
  height: 80%;
  background-color: #e8ebf3;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px 50px;
  margin: 0 auto;
  min-height: 600px;
}

.board_container_column_header {
  margin: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board_container_column_header button {
  margin-top: 10px;
  padding: 0;

  outline: none;
  border: none;
  background: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.board_container_column_header button > svg {
  transition: fill 0.2s ease;
}

.board_container_column_header button > svg:hover {
  fill: #008500;
}

.board_container_column_header p {
  margin: 0;
}

.board_container_column_body {
  height: 600px;
  border-radius: 8px;
}

.board_container_column_body.highlighted {
  background: rgba(255, 255, 255, 0.7);
  outline: 1px dashed #008500;
  transition: background 0.2s;
}

.board_container_column_body.scrollable {
  overflow-y: auto;
}

.board_container_column_body.scrollable::-webkit-scrollbar {
  display: none;
}

.board_container_column_body_empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.board_container_column_body_empty h1,
.board_container_column_body_empty p {
  margin: 0;
}

.board_container_column_body_empty h1 {
  font-size: 24px;
}

.board_container_column_body_empty p {
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .board_wrapper {
    margin-left: 120px;
  }
  .board_container {
    gap: 16px;
    padding: 18px 10px;
  }
}

@media (max-width: 800px) {
  .board_wrapper.sidebar_collapsed {
    margin-left: 50px;
  }
  .board_container {
    grid-template-columns: 1fr;
    overflow-y: auto;
    height: 85%;
  }
}

@media (max-width: 500px) {
  .board_wrapper {
    margin-left: 0;
  }
  .board {
    padding: 4px 0;
  }
  .board_container_column_header {
    margin: 8px 4px;
    font-size: 1rem;
  }
  .board_container_column_body_empty h1 {
    font-size: 16px;
  }
  .board_container_column_body_empty p {
    font-size: 11px;
  }
}
